a
{
  color: #646464;
}
*
{
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.slide { 
    display: grid; 
    grid-template-rows: auto 1fr auto; 
}

.background
{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
.background_left
{
   transform: translate(-15%,-92%) scale(2.2);
}
.background_right
{
    transform: translate(-637px,330px) scale(1);
}
.container
{
    max-width: 2054px;
    margin: 112px 150px;
}
.content
{
  display: flex;
  gap: 162px;
  align-items: start;
}
.title 
{
  font-size: 90px;
  font-weight: 600;
  color: #20336E;
  margin-bottom: 43px;
  padding: 0;
}

.scheme
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#scheme_item
{
  opacity: 0;
}
.long__btn,.medium__btn,.short__btn,.blue__btn
{
  border: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  gap:60px;
  text-align: left;

}
.long__btn
{
  width: 1183px;
  height: 144.18px;
  background-image: url("../images/slide03/long_border.svg");
  color: #20336E;
}
.medium__btn
{
  width: 869.59px;
  height: 144.18px;
  background-image: url("../images/slide03/medium_border.svg");
  color: #20336E;
}
.short__btn
{
  width: 552.59px;
  height: 236.05px;
  background-image: url("../images/slide03/short_border.svg");
  color: #20336E;
  padding-left: 59px;
}
.blue__btn
{
  width: 615px;
  height: 144.18px;
  font-weight: 800;
  background-image: url("../images/slide03/blue_bg.svg");
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 59px;
}
.arrows__far
{
  display: flex;
  gap: 632px;
}
.arrows__close
{
  display: flex;
  gap: 431px;
}
.btn__row
{
  display: flex;
  align-items: center;
}

.pathogenesis_image
{
  margin-top: -40px;
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}

.footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #00954D;
    z-index: 11;
    
}
.footer_container
{
    margin: 0 150px;
    max-width: 2054px;
    padding: 55px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_icons
{
    display: flex;
    gap: 64px;
}
.footer_text
{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding: 0;
    margin: 0;
}
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.15);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.popup.active {
  opacity: 1;
  pointer-events: auto;
}

.popup_body {
  opacity: 0;
  width: 100%;                       
  height: 542px;
  background-image: url("../images/slide02/popup_background.svg");
  background-size: cover;           
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 150px;
  transform: translateY(1000px);
  transition: transform 2s cubic-bezier(.2,.8,.2,1), opacity 0.25s ease-in;
}

.popup_body.active {
  opacity: 1;
  transform: translateY(0);
}


.popup_close {
    background-image: url('../images/slide02/popup_close.svg');
    width: 104.43px;
    height: 70px;
    position: absolute;
    right: 200px;
    top: 82px;
    cursor: pointer;
}

.popup_text {
    color: #646464;
    font-size: 30px;
    padding-top: 311px;
    padding-left: 151px;
}

.dimmed {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1;transform: translateY(0px); }
}
@keyframes scaleChange {
  from { opacity: 0; transform: scale(0); }
  to   { opacity: 1;transform: scale(1); }
}
